/* colors */

/* 

medium aquamarine : #59c9a5
sea foam green : #b9e3c6
dogwood rose : #d81e5b
japanese indigo : #23395b
canard : #fffd98

*/

/* global */

.container {
    max-width: 1250px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

ul {
    list-style: none;
}

/* nav */

header {
    background: #b9e3c6;
    margin: 0;
    padding: 20px 0px;
    width: 100%;
}

#top h1 {
    font-size: 80px;
    margin-bottom: 35px;
}

button {
    padding: 8px 20px;
    margin: auto 5px;
    font-size: 14px;
    border: none;
    background: #87b395;
    border-radius: 5px;
    color: white;
}

button:hover {
    background: #4bad8e;
}

/* illustration */

#illustration {
    height: 350px;
    margin: 15px auto;
    background: #59c9a5;
}

#outerbox {
    width: 80%;
    position: relative;
    top: 35px;
    border: solid 1px white;
    height: 280px;
    margin: auto;
    display: grid;
    text-align: center;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#outerbox ul {
    margin: 0;
    padding: 0;
}

#outerbox h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 40px;
}

/* comparison */

#comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#comp-list {
    display: grid;
    grid-template-columns: auto auto;
}

/* flexbox */

#flexbox {
    padding: 30px;
    margin: 30px auto;
}

#flex-example {
    display: flex; 
    justify-content: center;
}

#flex-example div {
    padding: 10px 30px;
    background: #ddd;
    border: solid 2px white;
}

/* grid */

#grid {
    padding: 30px;
}

#grid-example {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    margin: auto;
}

#grid-example div {
    padding: 10px 5px;
    background: #ddd;
    border: solid 2px white;
}

/* footer */

footer {
    background: #b9e3c6;
    padding: 10px;
    text-align: center;
}

footer h2 {
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
