/* header */

h1 {
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    margin: 50px 0px 0px;
    letter-spacing: 4px;
}

/* header */

/* navigation */

#main-nav {
    text-align: center;
}

#navbar-ul {
    list-style: none;
    display: flex;
    width: 50%;
    margin: 10px auto;
    justify-content: space-around;
    padding: 10px 0;  
    border-top: #ccc solid 0.5px;
    border-bottom: #ccc solid 0.5px;
}

#navbar-ul a {
    color: #888;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
}

/* navigation */